# Sets the datacenter ID which is primarily used by Arclink and its tools.
# Should not contain spaces.
datacenterID = lbnl

# Defines the agency ID used to set creationInfo.agencyID in data model
# objects. Should not contain spaces.
agencyID = lbnl

# Organization name used mainly by ArcLink and SeedLink.
organization = "Lawrence Berkeley National Lab"

# Defines a list of modules loaded at startup.
plugins = hypo71, locnll, mbtiles, saic

# SeisComP applications access waveform data through the RecordStream
# interface. Please consult the SeisComP documentation for a list of supported
# services and their configuration.
# This parameter configures recordstream source URL, format:
# [service://]location[#type]. "service" is the name of the recordstream
# implementation. If "service" is not given "file://" is implied.
# This parameter overrides the deprecated recordstream.service and
# recordstream.source and should be used instead.

#recordstream = combined://slink/localhost:18000;combined/(sdsarchive//Data2/AmplifyEGS/scarchive;fdsnws/service.iris.edu)
recordstream = routing://combined/(slink/localhost:18000;sdsarchive//Data2/AmplifyEGS/scarchive)??match=1Q.*.*.*;combined/(slink/localhost:18000;fdsnws/service.iris.edu)??match=*.*.*.*

# Defines a list of core modules loaded at startup.
core.plugins = dbmysql

# A regular expression of all clients that should handle a command message
# usually send to the GUI messaging group. Currently this flag is only used by
# GUI applications to set an artificial origin and to tell other clients to
# show this origin. To let all connected clients handle the command, ".*$" can
# be used.
commands.target = ".*$"

# The list of supported model names per interface.
ttt.LOCSAT.tables = iasp91, tab, basin-range

# Specified the location and the structure of the map tiles to be used. This
# path is composed of zero or more directives and must include at least one
# conversion specification which starts with is introduced by the character %
# followed by a conversion specifier. Valid specifiers are s (replaced by tile
# ID), l (tile level), c (tile column) and r (tile row). An example for using
# the OpenStreetMap file structure is /path/to/maps/%l/%c/%r.png.
map.location = @DATADIR@/maps/world-11/world-11-1.3.mbtiles

# Projection of the map tiles. Supported formats are: rectangular and mercator.
map.format = mercator

# Cache size of the map tiles. If 0 is specified a default cache size of 32mb
# is used. The higher the cache size the better the performance in higher
# resolutions. A higher cache size causes less image loader calls but requires
# more client memory.
map.cacheSize = 100000000

# Used to distinguish tile store implementations provided by plug-ins.
map.type = mbtiles

# Hypo71 profile name. Multiples names may be set. They must be separated by
# comma. Each profile can have different velocity or parameters.
hypo71.profiles = iasp91, basin-range

# Profile's velocity model name.
hypo71.profile.basin-range.earthModelID = BASINRANGE

# File containing the profile parameters.
hypo71.profile.basin-range.controlFile = @DATADIR@/hypo71/profiles/profile.basin-range.conf

# Profile's velocity model name.
hypo71.profile.iasp91.earthModelID = IASP91

# File containing the profile parameters.
hypo71.profile.iasp91.controlFile = @DATADIR@/hypo71/profiles/profile.iasp91.conf

# The default pick error in seconds passed to NonLinLoc if a SeisComP pick
# object does not provide pick time uncertainties.
NonLinLoc.defaultPickError = 0.1

# Defines a list of available LOCSAT travel-time tables.
LOCSAT.profiles = iasp91, tab, basin-range
