# Registration of the host profiles defining the connection parameters to the
# QuakeLink hosts.
hosts = local

# URL of the QuakeLink service, the scheme 'qls' enables SSL.
# Format: [ql[s]://][user:pwd@][host][:port].
# If set to an empty string the application will run without any QuakeLink
# connection attempt.
host.local.url = ql://localhost:18020
